.Background {

  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -2;
  background-color: black;

}

.Navigation-Bar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,.88);
  border-bottom: 1px solid #222;
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.Navigation-Title {
  color:white;
  font-size:20px;
  font-family: 'Cerebri Sans', sans-serif;
  display:flex;
  align-items: center;
  font-weight:250;
}

.Container {

  display: flex; /* or inline-flex */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding:20px;
  padding-top:60px;
  padding-bottom:60px;

}

/* @media only screen and (min-width: 730px) {
  [class*="Container"] {
    padding-top:80px;
  }
} */

.Row-Container {

  width: 500px;
  flex-basis: auto;

  margin-top: 20px;
  /* padding: 20px; */
  border-radius: 3px;
  background-color:#141515;
  border-color:#242527;
  border-style: solid;
  border-width: 0.05rem;
}

@media only screen and (max-width: 550px) {
  /* For mobile phones: */
  [class*="Row-Container"] {
    width: 90vw;
  }
}

.Badge-Container {

  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2px;
  border-color: #878c96;
  padding: 20px;

}

.Row-Button {
  width:100%;
  flex-basis: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  /* text-align: center; */
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: greenyellow;
  font-size:15px;
  font-family: 'Cerebri Sans', sans-serif;
}

.Collected-Button {

  padding-left: 20px;
  padding-right: 20px;
  padding-top:2px;
  padding-bottom:2px;
  border-radius: 14px;
  border-width: 0px;
  color: #27AE60;
  font-size:15px;
  font-family: 'Cerebri Sans', sans-serif;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0,0,0,.25);

}

@media only screen and (min-width: 830px) {
  /* For mobile phones: */
  [class*="Collected-Button"] {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.Badge-Image {

  width: 50px;
  height: 50px;
  flex: none;
  position: relative;
  
  display: block;
  text-align: center;

  border-radius: 50%;
  /* padding:10px; */

  background-color: white;

}

.Badge-Text-Container {

  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  flex-grow: 10;

  margin-left: 20px;

  /* background-color: orange; */

}

.Badge-Title{

  color:white;
  font-size:20px;
  font-family: 'Cerebri Sans', sans-serif;
}

.Badge-Description{
  padding-top: 7px;
  flex-grow: 10;
  color: white;
  font-size:16px;
  font-family: 'Cerebri Sans', sans-serif;
  /* background-color: red; */

}

.navbar {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  transition: top 0.6s;
}

.navbar--hidden {
  top: -50px;
}

.Alert-Row {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 15px;
  background-color:#27AF60;
  border-radius: 45px;

}

.Alert-Button {

  padding-left: 70px;
  padding-right: 70px;
  padding-top:5px;
  padding-bottom:5px;
  border-style: none;
  /* border-radius: 25px; */
  /* border-width: 1px; */
  /* border-color: white; */
  color: white;
  font-size:15px;
  font-family: 'Cerebri Sans', sans-serif;
  /* background-color: #2f80ed; */
  background-color: transparent;


  /* box-shadow: 0 4px 15px rgba(0,0,0,.25); */
    

}

@media only screen and (max-width: 830px) {
  /* For mobile phones: */
  [class*="Alert-Button"] {
    padding-left: 50px;
    padding-right: 50px;
  }
}